*{
    box-sizing: border-box;
}
#instructions, #closeButton {
border: none;
border-radius: 0%;
background-color: white;
width: initial;
height: initial;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #000000;
    border-radius: 10px;
     z-index: 10;
     background-color: #fff;
     width: 600px;
     max-width: 80%;
}
.modal.active{
    transform: translate(-50%,-50%) scale(1);
}
.modal-header{
    padding: 0.5rem;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
}
.modal-header .title{
    font-size: 1rem;
    font-weight: bold;
}
 #closeButton{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(216, 55, 55);
}
.modal-body{
    padding: 1rem;
}
#overlay{
    transition: 200ms ease-in-out;
    position: fixed;
    opacity: 0;
   /* text-outline: 0 0 #000; */
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.623);
   pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
#instructions{
    position: fixed;
    top: 2em;
    left: 2em;
   padding: 0.7rem;
   box-shadow: 2px 3px rgb(24, 23, 23);
}

